@font-face {
  font-family: 'brandon';
  src: url(../assets/fonts/Brandon-Regular.otf);
}

@font-face {
  font-family: 'brandon';
  src: url(../assets/fonts/Brandon-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: 'brandon';
  src: url(../assets/fonts/Brandon-Thin.otf);
  font-weight: 100;
}

@font-face {
  font-family: 'brandon';
  src: url(../assets/fonts/Brandon-Black.otf);
  font-weight: 900;
}

@font-face {
  font-family: 'brandon';
  src: url(../assets/fonts/Brandon-Medium.otf);
  font-weight: 300;
}


@font-face {
  font-family: 'Adam';
  src: url(../assets/fonts/Adam.otf);
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #D2D2D2;
  text-align: center;
  font-family: 'brandon', serif;
  background-color: #323232;
}

img {
  max-width: 100%;
}


.main {
  background:
  url('../assets/images/hero-image.jpg');
  background-position: -347px 0;
  background-size: cover;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main__nav {
  display: flex;
  width: 100%;
  padding-bottom: 170px;
  margin: 0 20px;
  margin-top: 30px;
  justify-content: space-between;
}

.main__nav-logo {
  max-height: 29px;
}

.main__nav__button-img {
  width: 32px;
}

.main__nav__popup {
  display: none;
}

.main__heading {
  font-family: 'Adam', serif;
  font-size: 32px;
  letter-spacing: 2.53px;
  font-weight: normal;
  padding: 0;
  padding-bottom: 10px;
}
